<article class="chirp">
    <div class="titlebar">
        <a href="#/profile" class="chirp-author">{{username}}</a>
        <span class="chirp-time">1 day</span>
    </div>
    <p>yohooo</p>
</article>